.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.downloadBtn {

    margin-top: 1rem;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 0;
}

.image {
    padding: 1rem;

    img {
        max-height: 600px;
        width: auto;
    }
}

@media screen and (max-width: 1000px) {
    .name {
        display: flex;
        flex-direction: column;
    }

    .image {

        padding: 1rem;
    
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

}