.search {
    padding: 1.25rem;
    box-sizing: border-box;
    width: 100%;
    z-index: 9999;
    backdrop-filter: blur(10px);
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(255,255,255,0.059);
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cfilter%20id%3D%22noise%22%3E%20%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%20%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.1796875%200%22%20%2F%3E%20%3C%2Ffilter%3E%20%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E');
    background-size: 512px;
    background-position: center;
    background-repeat: repeat;
    -webkit-backdrop-filter: blur(1.35rem);
    backdrop-filter: blur(1.35rem);
    border-color: rgba(255,255,255,0.09);
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .content-container {
    padding: 1rem;
    box-sizing: border-box;
  }
  
  #albumSearchInput {
    background-image: url("https://cdn.fabian.lol/icon.svg");
    background-position: 10px 10px;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0.102);
    color: #fff;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    padding: 12px 12px 12px 40px;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 1rem;
  }
  
  input:focus {
    outline: none;
  }


  .btn {
    text-align: center;
    color: #f4f6fb;
    width: fit-content;
    border-radius: 0.5rem;
    transition: all 0.3s;
    box-sizing: border-box;
    user-select: none;
    display: flex;
    white-space: nowrap;
    font-weight: 500;

    i {
      margin-right: 5px;
    }
  }
  
  .btn-small {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 16px;
    margin-left: 1.25rem;
  }
  
  .btn-big {
    font-size: 16px;
    padding: 12px 20px;
    white-space: nowrap;
  }
  
  .btn-primary {
    background: rgb(255, 255, 255);
    color: #000;
  }

  .btn-spotify {
    background:  #1ed760;
  }
  
  .btn:hover {
    transform: scale(0.96);
  }

  .btn-primary:hover {
    box-shadow: 0px 0px 0px 5px #ffffff4d;
  }

  .btn-spotify:hover {
    box-shadow: 0px 0px 0px 5px #1ed7604d;
  }
  
  .btn:active {
    transform: scale(0.9);
  }


  @media screen and (max-width: 900px) {
    .btn-small {
        margin-bottom: 1.5rem;
      }
  }